.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header ul {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
  max-width: 30vw;
  width: 100%;

}
.menu-item {
    list-style: none;
    display: flex;
    height: 100%;
    border-bottom: 2px solid #282c34;
    /* width: 100%; */

}
 .Info-wrap ul {
   padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.short-item {
  min-height: 44vh;
  width: 45vw;
  text-align: center;
  border: 1px solid #282c34;
  border-radius: 10px;
}
.menu-item:hover {
  border-bottom: 2px solid red;
  transition: .5s ease all;
}
.menu-item a {
  font-style: normal;
  outine: none;
  text-decoration: none;
  color: #fff;

}
.App-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header > p {
  padding-left: 20px;
}
.greeting {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}
.greeting p {
  font-size: 65px;
  font-weight: 600;
  text-align: center;
}
button.arrow {
  display: block;
  background: transparent;
  outline: none;
  border:none;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 30px;
}
.scroll-text{
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.scroll-text > span {
  animation: App-logo-spin infinite 20s linear;
}
.Info-wrap {
  min-height: 80vh;
}
.Atom {
  color: #61dafb;
}
.App-link {
  color: #61dafb;
}
.SnakeApp {
  height: 100vh;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
